# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# backup files
*~

## Ignore all the work files for the manuscript / data etc (sorry!)
fig/*
manuscript/*
data/*
car1-coefs-phi.csv
helen-email
